&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		settings_storage_partition: partition@e0000 {
			label = "settings_storage";
			reg = <0xe0000 0x6000>;
		};
	};
}; 